{% extends "layout/admin.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="content">
        <h3 class="text-center mt-5">Admin settings page</h3>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}